@model List<MVCHelper.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product/Index</h2><div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Ürün Id</th>
                <th>Ürün Adı</th>
                <th>Fiyat</th>
                <th>Stok</th>
                <th>İşlem</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.UnitsInStock</td>
                    <td>
                        <a href="/Product/Detail/@product.ProductID" class="btn btn-primary btn-xs">
                            Detay
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
