@model Shipper
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div class="col-lg-6">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(x=>x.ShipperID)
        <div class="form-group">
            <label>Company Name</label>
            @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Phone Number</label>
            @Html.TextBoxFor(x => x.Phone, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-success">Update Shipper</button>
    }
</div>

