@model List<NetCoreIntro.Models.Product>
@{
    ViewData["Title"] = "GetProductsWithCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Ürün Adı</th>
            <th>Fiyat</th>
            <th>Kategori ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.ID</td>
                <td>@p.ProductName</td>
                <td>@p.UnitPrice</td>
                <td>@p.CategoryId</td>
            </tr>
        }
    </tbody>
</table>

