
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="alert alert-danger">
        <span>Bu sayfayı görüntülemeye yetkiniz bulunmamaktadır.</span>
    </div>
</div>

