
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Sipariş ID</th>
                <th>Müşteri ID</th>
                <th>Çalışan ID</th>
                <th>Sipariş Tarihi</th>
                <th>Sipariş İsmi</th>
                <th>Ülke</th>
                <th>Şehir</th>
                <th>Kargo Bedeli</th>
            </tr>
        </thead>
    </table>
</div>

