body {
    background-color: #2e2e2e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    /*background-image:url(/Images/wallhaven-2e5lxy.jpg);*/
}

p {
    color: #c16d2f;
}

#main-container {
    /*background-color:cornflowerblue;*/
    width: 1080px;
    height: 100px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    width: 1080px;
    height: 120px;
    background-color: crimson;
    border-radius: 10px 10px 0 0;
}

#content {
    width: 550px;
    height: 630px;
    background-color: darkseagreen;
    float: left;
}

.menu {
    width: 265px;
    height: 630px;
    background-color: darkslateblue;
    float: left;
}

#footer {
    width: 1080px;
    height: 120px;
    background-color: crimson;
    float: left;
    border-radius: 0 0 10px 10px;
}

#header h1 {
    color: white;
    text-align: center;
    line-height: 120px;
}

.menu p {
    color: aqua;
    text-align: center;
    line-height: 630px;
}

#content p {
    color: darkgreen;
    text-align: center;
    line-height: 630px;
}

#footer p {
    color: white;
    text-align: center;
    line-height: 120px;
}
