
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    MVC_Filter.Models.Entity.AppUser user = null;
    if (Session["login"] != null)
    {
        user = Session["login"] as MVC_Filter.Models.Entity.AppUser;
    }

}

<h2>Hoşgeldin @user.UserName</h2>

