@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Home/Index Sayfası</h1>
<p>
    Projede kullanıcıların gördüğü arayüz View klasörüdür. Dış dünyayda kullanıcılar ne görüyorsa view sayesindedir. Proje yayına alındıktan sonra view içerisinde nasıl bir kodlama var ise kullanıcılar taratıcı üzerinden karşılarına o kodlar çıkacaktır.
</p>